h1 {
	text-align: center
}

h2 {
	text-align: center
}

body{
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
}

/* AXES */
/* ticks */
.axis line{
stroke: #706f6f;
stroke-width: 0.5;
shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
stroke: #706f6f;
stroke-width: 0.7;
shape-rendering: crispEdges;
}

/* axis text */
.axis text {
fill: #2b2929;
font-family: Georgia;
font-size: 120%;
}

/* LINE CHART */
path.line {
fill: none;
}

.serie_label {
fill: #2b2929;
font-family: Georgia;
font-size: 70%;
}

/* TOOLTIP */
.tooltip {
fill: #2b2929;
font-family: Georgia;
font-size: 150%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path.line-0 {
fill: none;
stroke: #ed3700;
}

path.line-1 {
fill: none;
stroke: #2b2929;
stroke-dasharray: 2;
}

path.line-2 {
fill: none;
stroke: #9c9c9c;
stroke-dasharray: 6;
}

path.line-3 {
fill: none;
stroke: #9c9c9c;
stroke-dasharray: 4;
}

.axis line-3 {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/* POINTS */
.point {
stroke: none;
fill: #9c9c9c;
}
