body {
  background-color: white;
  margin-bottom: 100px;
  margin-right: 15%;
  margin-left: 15%;
}

h1 {
  font-family: georgia;
  text-align: center;
}

h2 {
  font-family: georgia;
  text-align: center;
  color: #8a8a8a;
  font-size: 24px;
  font-weight: lighter;
}

h3 {
  font-family: georgia;
  text-align: right;
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
}

h5 {
  font-family: georgia;
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}

p {
  font-family: georgia;
  font-size: 16px;
  line-height: 1.25;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  max-height: 450px;
}

div, iframe {
    margin: 0 auto;
}

iframe {
    display: block;
    border-style:none;
}

#pagebreak {
    text-align: center;
}

.pagebreak {
    text-align: center;
}
